<div class="row mb-4">
	<div class="col-md-4">
		<a class="btn btn-lg btn-secondary btn-block green_color text-dark" href="@Url.Action("Contact")">Kontakta oss</a>
	</div>
	<div class="col-md-8">
		<ul class="contact_listing">
			<li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="text">Persåkersvägen 2, Trelleborg</span></li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="text">info@slslogistic.nu</span></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i><span class="text">0723-866646</span></li>
		</ul>
	</div>
</div>

