<div class="row mb-4">
	<div class="col-lg-6">
		<h2>Vi har lösningen för era transporter</h2>
		<p>SLSLogistic erbjuder:</p>
		<ul class="offers">
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Internationella / Nationella Transporter
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Tredjepartslogistik (3PL)
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Lager / Distribution<br/> 
				<span>
					<small><i class="fa fa-caret-right" aria-hidden="true"></i>Tillgång till Securitas bevakat Tullager</small>
				</span>
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Kranbilar
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Intermodala Transporter
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Specialtransporter<br/>
				<span>
					<small><i class="fa fa-caret-right" aria-hidden="true"></i>Transporter anpassade för eventbranchen</small>
				</span>
			</li>
		</ul>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid" src="~/assets/images/truck.png" alt="">
	</div>
</div>
