<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active" style="background-image: url('../../assets/images/SLSLogostics_Logo.jpg');">
				<div class="carousel-caption d-none d-md-block">
					<h3>SLS Logistic</h3>
				</div>
			</div>
		</div>
	</div>
</header>
