@model SLSLogistics.Models.BreadcrumbModel

<h1 class="my-4">Välkommen till SLSLogistic ( hemsida under uppbyggnad! )</h1>
<!-- Marketing Icons Section -->
<div class="row mb-4">
	<div class="col col-sm-3 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-truck" aria-hidden="true"></i>Transporter</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
			</div>
			<div class="card-footer">
				<a href="@Url.Action("Transports","Home")" class="btn btn-secondary green_color text-dark">Läs mer</a>
			</div>
		</div>
	</div>
	<div class="col col-sm-3 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Nyheter</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos.</p>
			</div>
			<div class="card-footer">
				<a href="@Url.Action("News","Home")" class="btn btn-secondary green_color text-dark">Läs mer</a>
			</div>
		</div>
	</div>
	<div class="col col-sm-3 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Policy</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
			</div>
			<div class="card-footer">
				<a href="@Url.Action("Policy","Home")" class="btn btn-secondary green_color text-dark">Läs mer</a>
			</div>
		</div>
	</div>
	<div class="col col-sm-3 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Om SLS</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
			</div>
			<div class="card-footer">
				<a href="@Url.Action("About","Home")" class="btn btn-secondary green_color text-dark">Läs mer</a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

@{
	Html.RenderPartial("~/Views/Partials/_FeaturesList.cshtml");
	<hr>
	Html.RenderPartial("~/Views/Partials/_ContactDetailsBottom.cshtml");}
