<h1 class="my-4">Välkommen till SLSLogistic ( hemsida under uppbyggnad! )</h1>
<!-- Marketing Icons Section -->
<div class="row">
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Transporter</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Transporter</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<h4 class="card-header green_color"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Transporter</h4>
			<div class="card-body">
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->
<!-- Features Section -->
<div class="row">
	<div class="col-lg-6">
		<h2>Vi har lösningen för era transporter</h2>
		<p>SLSLogistic erbjuder:</p>
		<ul class="offers">
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Internationella / Nationella Transporter
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Tredjepartslogistik (3PL)
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Lager / Distribution<br/> 
				<span>
					<small><i class="fa fa-caret-right" aria-hidden="true"></i>Tillgång till Securitas bevakat Tullager</small>
				</span>
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Kranbilar
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Intermodala Transporter
			</li>
			<li>
				<i class="fa fa-check-square-o" aria-hidden="true"></i>Specialtransporter<br/>
				<span>
					 <small><i class="fa fa-caret-right" aria-hidden="true"></i>Transporter anpassade för eventbranchen</small>
				</span>
			</li>
		</ul>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
	</div>
</div>
<!-- /.row -->
<hr>
<!-- Call to Action Section -->
<div class="row mb-4">
	<div class="col-md-4">
		<a class="btn btn-lg btn-secondary btn-block green_color text-dark" href="@Url.Action("Contact")">Kontakta oss</a>
	</div>
	<div class="col-md-8">
		<ul class="contact_listing">
			<li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="text">Persåkersvägen 2, Trelleborg</span></li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="text">mats@slslogistic.nu</span></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i><span class="text">0723-866646</span></li>
		</ul>
	</div>
</div>
