@model SLSLogistics.Models.BreadcrumbModel

<h1 class="my-4">Vår Policy</h1>
@Html.Partial("~/Views/Partials/_BreadCrumb.cshtml", Model)
<div class="row mb-4">
	<div class="col-lg-6">
		<h2>Kvalitetspolicy:</h2>
		<p>SLS Group AB skall i alla funktioner följa den policy som följer enligt nedan. Det är viktigt att detta genomsyrar hela företaget och att detta klart deklareras i alla led och så även till ev. inhyrd personal. Detta följs upp under regelbundna KM-möten varje kvartal.</p>
		<ul>
			<li>Att alltid vara lyhörd för kundens önskemål genom att vara en god lyssnare.</li>
			<li>Alla i företaget ska vara ödmjuka och vara tillmötesgående mot kunder och leverantörer.</li>
			<li>Alla ska kunna hantera minst ett internationellt språk som minimum.</li>
			<li>Personalen ska alltid informera kunden när godset levereras om inte annat önskas.</li>
			<li>Vid frågor angående enstaka priser, dokument och leverans ska svar ges inom 45 minuter.</li>
			<li>Att se till så att personal och ledning förkovrar sig inom IT och de regelverk som gäller.</li>
			<li>Om leverans ej kan ske p.g.a. utomstående orsaker så ska detta snarast meddelas kunden.</li>
			<li>Att uppvisa ett stort driv och engagemang. Det är det personliga engagemanget som gör skillnad.</li>
			<li>En gång per år gör vi en kundundersökning för att se om vår målsättning stämmer med kundens uppfattning om oss. Detta leder till att ett bra företag kan bli ännu bättre.</li>
		</ul>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
	</div>
</div>
<div class="row mb-4">
	<div class="col-lg-6">
		<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
	</div>
	<div class="col-lg-6">
		<h2>Miljöpolicy:</h2>
		<p>I vår globala värld så behövs det idag kraftfulla insatser för miljön. Man bör följa subsidiaritetsprincipen som innebär att ta beslut på lägsta möjliga nivå. Parisavtalet är viktig för helheten på vår jord men det förutsätter också att alla drar sitt strå till stacken på sin nivå. SLS Group AB har en klart uttalad målsättning och riktlinjer för hur vi ska jobba med miljöfrågorna. Som ett internationellt transportföretag ska vi verka för att den negativa miljöpåverkan minimeras så långt möjligt är.</p>
		<ul>
			<li>Att se till att enbart samarbeta och använda åkare som har minst Euro 6 motorer. </li>
			<li>Att använda oss av specialprogram för att minska tomkörningen mellan lastningarna.</li>
			<li>Att i möjligaste mån använda intermodala transportalternativ.</li>
			<li>Att årligen göra en leveransbedömning genom intervjuer med vår leverantörer.</li>
			<li>Att använda den senaste IT tekniken för att minska på pappersförbrukningen. </li>
			<li>Att tillgodose kundens önskemål på miljöområdet och vid behov föreslå förbättringar.</li>
			<li>Att förkovra sig i och följa de miljö förordningar som finns lokalt och nationellt.</li>
			<li>Att även vid utlagda processer tillse att de följer gällande miljö förordningar.</li>
			<li>Att ta hänsyn till miljö och energiaspekter när vi gör upphandlingar.</li>
		</ul>
	</div>

</div>