@model SLSLogistics.Models.BreadcrumbModel


<h1 class="my-4">Transporter</h1>
@Html.Partial("~/Views/Partials/_BreadCrumb.cshtml", Model)
<div class="row mb-4">
	<div class="col-lg-6">
		<p>
			<strong>SLS Group AB</strong> är ett logistikföretag som inriktar sig på internationella transporter men som även handhar inhemska transporter. Vi använder oss av olika transportslag där tonvikten idag ligger på bilsidan. Vår målsättning är att öka vår andel av intermodala transporter som är ekonomiskt fördelaktigt för kunden men framförallt så är det av stor vikt för miljön.
		</p>
		<p>
			SLS Group ingår i ett nätverk med samarbetspartners i Europa för att kunna erbjuda en toppservice i form av korta ledtider och leveranssäkerhet. Detta ger också ekonomiska fördelar för kunden.
		</p>
		<p>
			Vi erbjuder olika fordon efter behov. På bilsidan har vi sedvanliga kapelltrailers med 13,6 flm lastkapacitet. Vi har också Megaekipage som är ca 3 meter höga. Det finns också stor efterfrågan idag på värme och kyl-transporter så det ingår också i vårt sortiment.  Ibland är det riktigt brådskande och då kan vi erbjuda expressbilar i såväl stort som smått. 
		</p>
		<p>
			Ibland behöver man hjälp med flyttning av lager eller liknande och då kan vi erbjuda väldigt förmånliga villkor till ett fast pris. Välj den lösning som passar just er bäst!
		</p>
		<p>
			Det som ökar mest idag är ”tredje parts logistik” (3 PL).
		</p>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
	</div>
</div>
<div class="row mb-4">
	<div class="col-lg-6">
		<h4>Vad är då tredjepartslogistik?</h4>
		<p>
			Logistikfunktionen tar mycket tid och kraft för företagen idag i det allt mer uppskruvade tempot. Sverige går bra och orderna ökar och tiden räcker inte riktigt till.
		</p>
		<p>
			Allt fler väljer då ett ”3PL” alternativ som innebär ett samarbete med ett logistikföretag som tar hand om just uppgifter mot en fast månadskostnad. Logistikföretaget, som i detta fall är transporter, tar då hand om upphandlingar, upplägg och ser över rutinerna. Det kan vara tryggt att ha en utomstående partner som har spetskompetens inom logistiken.
		</p>
		<p>
			Transportföretaget handlar då upp till bästa möjliga pris inom den kvalitetsram som föreskrivs. Man ser över om rutinerna är rätt hos företaget och använder sig av specialprogram för att hitta bästa möjliga geografiska fördelar. Detta kan även innefatta fakturakontroll, fraktdokument och lagerverksamhet.
		</p>
			SLS Group AB vill vara ett sådant alternativ för just Dig som känner att detta vore helt rätt för mig. Vår affärsidé bygger inte på dyra arvoden utan på en överenskommelse med ett fast pris per månad. Vi har ingen dyr administration och kan därför också ge er de rätta villkoren.
		<p>
			Det räcker att Ni vill prova detta under 6 månader och sedan gör vi en gemensam uppföljning på hur stora vinster ni gjort genom detta upplägg. Sen utgår vi från detta.
		</p>
		<p>
			Oavsett vilket alternativ som ni väljer vill vi vara Er förlängda arm mot Era kunder genom att vara ett innovativt och säkert transportalternativ.
		</p>
		<p>
			Ta kontakt med oss så kan vi ytterligare information
		</p>

	</div>
</div>

