@model SLSLogistics.Models.BreadcrumbModel


<h1 class="my-4">Lager</h1>
@Html.Partial("~/Views/Partials/_BreadCrumb.cshtml", Model)
<div class="row mb-4">
	<div class="col-lg-6">
		<p><strong>Tycker ni att lagring är dyrt? Titta då på detta!</strong><br/></p>
		<p>Vi har nyligen gjort en överenskommelse som gör att vi kan erbjuda lagring väldigt förmånligt.</p>
		<p>Vi kan erbjuda upp till 3000 m2 yta i ett certifierat och uppvärmt lager. Detta mycket rent och prydligt. Det finns även ett annat lager som inte är uppvärmt. Området är Securitas bevakat och är inhägnat. Det är även godkänt som tullager.</p>
		<p>Vi anser att våra priser för lagring är väldigt förmånligt för kunden.</p>
		<p>Ring oss gärna vid intresse så får ni en offert snarast.</p>
		<p>Fredrik Svensson<br/>0707-191124</p>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
	</div>
</div>
