@model SLSLogistics.Models.BreadcrumbModel


<h1 class="my-4">Lager</h1>
@Html.Partial("~/Views/Partials/_BreadCrumb.cshtml", Model)
<div class="row mb-4">
	<div class="col-lg-6">
		<p>Text text...</p>
	</div>
	<div class="col-lg-6">
		<img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
	</div>
</div>
